# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Python virtual environments
venv/
env/
.venv/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Test and coverage outputs
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/